* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
.container {
  width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
/* HEADER */
.header {
  height: 36.3rem;
  width: 100%;
  background-image: url(/images/bg-header-desktop.png);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.6rem;
}
.header h1 {
  font-size: 4.6rem;
  letter-spacing: -0.075rem;
  color: #4c545c;
}
.header svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 73rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}
.main-header p {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.015rem;
  color: #9eabb2;
}
.btns {
  width: 47rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.btn {
  width: 22.7rem;
  height: 5.6rem;
  padding: 1.3rem 1.6rem;
  border-radius: 20rem;
  border: none;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  color: #fff;
  cursor: pointer;
}
.ios {
  background-color: #26bba4;
}
.mac {
  background-color: #6174ff;
}
/* SEC 02 */
.sec--2 {
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 8rem;
  width: 73rem;
  height: 15.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec--2 h2,
.sec--4 h2,
.sec--6 h2,
.sec--9 h2 {
  font-size: 3.6rem;
  letter-spacing: 0.059rem;
  color: #4c545c;
  margin-bottom: 1.9rem;
  text-align: center;
}
.sec--2 p,
.sec--4 p,
.sec--6 p,
.sec--9 p {
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.014rem;
  color: #9eabb2;
}
/* SEC 03 */
.sec--3 {
  width: 121.2rem;
  height: 57.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11rem;
  right: 0.1rem;
  margin-left: -3.2rem;
}
.fet {
  width: 35rem;
  height: 40.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 5.6rem;
}
.item {
  width: 35rem;
  height: 9.8rem;
}
.sec--7-item h3,
.item h3 {
  font-size: 2.4rem;
  color: #4c545c;
  letter-spacing: 0.039rem;
  text-align: start;
}
.sec--7-item,
.sec--3 p {
  font-size: 1.6rem;
  color: #9eabb2;
  line-height: 3rem;
  text-align: start;
}
/* SEC 04 */
.sec--4 {
  width: 73rem;
  height: 12.4rem;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 16.1rem;
  text-align: center;
}
/* SEC 05 */
.devices {
  width: 81.2rem;
  height: 47.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 8.5rem;
}
/* SEC 06 */
.sec--6 {
  width: 73rem;
  height: 9.4rem;
  margin: 0 auto;
  margin-bottom: 7.2rem;
}
/* SEC 07 */
.sec--7 {
  width: 111rem;
  height: 21.6rem;
  margin: 0 auto;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec--7-item {
  width: 35rem;
  height: 18.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1.6rem;
}
.sec--7-item p {
  text-align: center !important;
}
/* SEC 08 */
.sec--8 {
  width: 111rem;
  height: 7.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 16.51rem;
}
/* SEC 09 */
.sec--9 h2 {
  margin-bottom: 3rem;
}
.sec--9 p {
  margin-bottom: 5.2rem;
}
